<head>
    {{!-- Reload site every 30 seconds // This is a workaround for websocket --}}
    {{!--<meta http-equiv="refresh" content="30">--}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
</head>

{{!-- Page Navigation--}} 
<div class="pageHeader">
    <div class="card">
        <div class="row center">
            <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">CSCI Adler Lab Queue</h1>
        </div>
        {{!--<div class="row center">
            <button class="btn grey darken-3"><a href="/NorthQueue">Go To Adler North</a></button>
            <button class="btn grey darken-3"><a href="/SouthQueue">Go To Adler South</a></button>
        </div>--}}
    </div>
</div>

{{!-- Modal modified from template from https://www.w3schools.com/w3css/w3css_modal.asp --}}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
    });
</script>

<div class="boardColumn">
    <div class="boardDisplayColumn">
        <div class="card">
            <table>
                <thead>
                    <caption>Adler North Queue</caption>
                    <tr>
                        <th style="text-align:center">Type</th>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each northRequests}}
                        <tr>
                            <td style="text-align:center">
                                {{#if isGradeRequest}}
                                    <button class="btn green">
                                        <i class="fas fa-check"></i>
                                    </button>
                                {{else}}
                                    <button class="btn red">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </button>
                                {{/if}}
                                
                            </td>
                            <td style="text-align:center">{{studentName}}</td>
                            <td style="text-align:center">{{formatDate dateSubmitted 'h:mm:ss a'}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="boardDisplayColumn">
        <div class="card">
            <table>
                <thead>
                    <caption>Adler South Queue</caption>
                    <tr>
                        <th style="text-align:center">Type</th>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each southRequests}}
                        <tr>
                            <td style="text-align:center">
                                {{#if isGradeRequest}}
                                    <button class="btn green">
                                        <i class="fas fa-check"></i>
                                    </button>
                                {{else}}
                                    <button class="btn red">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </button>
                                {{/if}}
                                
                            </td>
                            <td style="text-align:center">{{studentName}}</td>
                            <td style="text-align:center">{{formatDate dateSubmitted 'h:mm:ss a'}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>